/* Enabling CSS for the use of the B612 font.
 * 
 * For more information about B612, visit:
 * https://b612-font.com/
 * or
 * https://github.com/polarsys/b612
 * or
 * https://fonts.google.com/?query=b612
 *
 * The font is Copyright (c) 2012, AIRBUS (airbus-group.com). All
 * rights reserved.
 *
 * It is licensed under the SIL Open Font License v1.1:
 * https://scripts.sil.org/OFL
 * the Eclipse Distribution License:
 * https://www.eclipse.org/org/documents/edl-v10.php 
 * and the Eclipse Public License:
 * https://www.eclipse.org/legal/epl-v20.html
 * 
 * The CSS in this project (see below) which allows its use here is
 * hereby released into the public domain by its author, David Weir.
 */


/* b612-regular - latin */
@font-face {
  font-family: 'B612';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/b612-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('B612 Regular'), local('B612-Regular'),
       url('fonts/b612-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/b612-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/b612-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/b612-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/b612-v2-latin-regular.svg#B612') format('svg'); /* Legacy iOS */
}
/* b612-italic - latin */
@font-face {
  font-family: 'B612';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/b612-v2-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('B612 Italic'), local('B612-Italic'),
       url('fonts/b612-v2-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/b612-v2-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/b612-v2-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/b612-v2-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/b612-v2-latin-italic.svg#B612') format('svg'); /* Legacy iOS */
}
/* b612-700 - latin */
@font-face {
  font-family: 'B612';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/b612-v2-latin-700.eot'); /* IE9 Compat Modes */
  src: local('B612 Bold'), local('B612-Bold'),
       url('fonts/b612-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/b612-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/b612-v2-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/b612-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/b612-v2-latin-700.svg#B612') format('svg'); /* Legacy iOS */
}
/* b612-700italic - latin */
@font-face {
  font-family: 'B612';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/b612-v2-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('B612 Bold Italic'), local('B612-BoldItalic'),
       url('fonts/b612-v2-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/b612-v2-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/b612-v2-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/b612-v2-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/b612-v2-latin-700italic.svg#B612') format('svg'); /* Legacy iOS */
}
