@import url("b612.css");

.reveal {
    font-size: 35px;
    font-family: "B612", "Source Sans Pro", "Arial", sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: "B612", "Source Sans Pro", "Helvetica", sans-serif;
    font-weight: bold;
}

/* New "small" class to work with "credit" (below), and also 21px
 * rather than 60%. */
.reveal .small {
    font-size: 21px;
}

/* NB: Previously 21px was 60%, this is better because of how CSS
 * works and inherits properties! */
.reveal .credit {
    font-size: 21px;
    color: red;
}

.reveal .yellow {
    color: #ff6600;
}


#left {
  left:10.00%;
  text-align: center;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:60.00%;
  top: 75px;
  float: right;
  text-align: center;
  z-index:-10;
  width:50%;
}

/* Improves appearance of list items. */
.reveal li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.reveal emph {
    font-style: italic;
}

i:not(.fa) {
    font-style: italic;
}


/* Sometimes this helps rendering of displaymath. */
.MathJax_Display {
/*    margin-top: 1em!important;
      margin-bottom: 1em!important; */
}
